<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>StudyIt - Sign Up</title>
</head>
<body class="bg-[#FFE8C4]">
    <h1 class="text-6xl font-bold text-[#47724c] text-center mt-10">Sign Up</h1>
    <div class="flex h-screen">
        <div class="bg-white w-1/2 mx-auto rounded-lg border-2 border-[#47724c] p-5 h-3/4 mt-16">
            <form class="flex flex-col justify-between items-center h-3/4 mt-4">
                <input class="border-2 border-[#47724c] rounded-xl p-2 mb-2 w-3/4" type="text" name="username" placeholder="Username">
                <input class="border-2 border-[#47724c] rounded-xl p-2 mb-2 w-3/4" type="password" name="password" placeholder="Password">
                <input class="border-2 border-[#47724c] rounded-xl p-2 mb-2 w-3/4" type="password" name="confirm_password" placeholder="Confirm Password">
                <button type="submit" class="bg-[#47724c] text-white rounded-full p-4 w-1/4 hover:bg-[#365b3f]">Sign Up</button>
            </form>
            <p class="text-center mt-4">Already have an account? <a href="/login" class="text-[#47724c] hover:underline">Login</a></p>
        </div>
    </div>
</body>
</html>